@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary-black: #21262C
}

*, html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--text-primary-black);
}
